<div class="footer">
    <div class="logo">
        <img src="https://assos.eirb.fr/logos/x256/eirbware.png" />
        <!-- <img src="https://assos.eirb.fr/logos/x256/bde.png" /> -->
    </div>
    <div class="links">
        <div class="link">
            <a href="https://eirb.fr" target="_blank" class="text">eirb.fr</a>
            <img src="{{url_for('static', path='img/ungroup.svg')}}" alt="indicator" class="indicator">
        </div>
        <div class="link">
            <a href="https://eirbware.eirb.fr" target="_blank" class="text">eirbware.eirb.fr</a>
            <img src="{{url_for('static', path='img/ungroup.svg')}}" alt="indicator" class="indicator">
        </div>
        <div class="link">
            <a href="https://bde.eirb.fr" target="_blank" class="text">bde.eirb.fr</a>
            <img src="{{url_for('static', path='img/ungroup.svg')}}" alt="indicator" class="indicator">
        </div>
    </div>
</div>