{% extends 'base.html' %}

{% block content %}

(page provisoire)

<p>
    EirbConnect est un service d'authentification pensé pour connecter les étudiants de l'ENSEIRB-MATMECA aux services
    de
    l'école créés par les étudiants (dont Eirbware et le BDE).
    Il permet également aux anciens élèves de l'école de continuer de se connecter aux services associatifs apprès
    suppression leur compte CAS.
</p>

<h1>Tester</h1>

<div class="form-group">


    <a href="/login">
        <button>Se connecter</button>
    </a>

    <a href="/register">
        <button>Créer un compte</button>
    </a>
</div>



{% endblock %}